<%- include('../layouts/base'); %>

  <section class="flex">
    <%- include('../components/sidebar'); %>
    
    
    <main class="flex-1 relative max-w-7xl lg:ml-60">
      <%- include('../components/nav'); %>

      <section class="px-4 lg:px-10 py-4 max-w-5xl flex flex-col gap-32 mt-32 md:mt-44">
        <section class="max-w-xl flex flex-col gap-4">
          <h2 id="how_to" class="text-3xl text-accent font-semibold">How to use it</h2>
          <p>You can copy/paste examples from below into your codebase to get JSON responses. Have fun!</p>
        </section>

        <section>
          <h2 id="todos" class="text-3xl text-accent font-semibold">Todos</h2>
          <div class="flex flex-col gap-16 py-8">
            <% todos.forEach(function(todo){ %>
              <article class="flex flex-col gap-4 items-start">
                <div class="w-full">
                  <header>
                    <h3 id="<%= todo.id %>" class="text-lg font-semibold"><%= todo.title %></h3>
                  </header>
                  <pre class="flex flex-col">
                    <div class="flex bg-secondary text-white justify-between rounded-t-lg  px-4 py-2 text-sm">
                      <span>Javascript</span>
                      <button class="cursor-pointer" data-copy-code>copy</button>
                    </div>
                    <code class="bg-secondary text-white block rounded-b-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                      <%= todo.code %>
                    </code>
                  </pre>
                </div>
                
                <button class="bg-accent text-sm py-2 px-4 text-primary font-semibold" data-show-response>Show response</button>
                
                <div class="hidden response">
                  <pre>
                    <code class="bg-secondary text-white block rounded-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                      <%= todo.responseExample %>
                    </code>
                  </pre>
                </div>
              </article>
            <% }); %>
          </div>
        </section>

        <section>
          <h2 id="users" class="text-3xl text-accent font-semibold">Users</h2>
          <div class="flex flex-col gap-16 py-8">
            <% users.forEach(function(user){ %>
              <article class="flex flex-col gap-4 items-start">
                <div class="w-full">
                  <header>
                    <h3 id="<%= user.id %>" class="text-lg font-semibold"><%= user.title %></h3>
                  </header>
                  <pre class="flex flex-col">
                    <div class="flex bg-secondary text-white justify-between rounded-t-lg  px-4 py-2 text-sm">
                      <span>Javascript</span>
                      <button class="cursor-pointer" data-copy-code>copy</button>
                    </div>
                    <code class="bg-secondary text-white block rounded-b-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                      <%= user.code %>
                    </code>
                  </pre>
                </div>
                
                <button class="bg-accent text-sm py-2 px-4 text-primary font-semibold" data-show-response>Show response</button>
                
                <div class="hidden response">
                  <pre>
                    <code class="bg-secondary text-white block rounded-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                      <%= user.responseExample %>
                    </code>
                  </pre>
                </div>
              </article>
            <% }); %>
          </div>
        </section>
      </section>

      <%- include('../components/footer'); %>
    </main>
  </section>

  <script>
    const buttons = document.querySelectorAll('[data-show-response]')
    const copyBtns = document.querySelectorAll('[data-copy-code]')

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        const article = button.closest("article")
        const responseSection = article.querySelector(".response")

        if (responseSection.classList.contains('hidden')) {
          responseSection.classList.remove('hidden')
          button.textContent = 'Hide response'
        } else {
          responseSection.classList.add('hidden')
          button.textContent = 'Show response'
        }
      })
    })

    copyBtns.forEach((button) => {
      button.addEventListener('click', (e) => {
        // todo: move it to external file and test it
        const textToCopy = e.target.parentElement.nextElementSibling.innerText
        navigator.clipboard.writeText(textToCopy)
      })
    })
  </script>

<%- include('../layouts/footer'); %>