<%- include('../layouts/base'); %>

  <section class="flex">
    <%- include('../components/sidebar'); %>
    
    
    <main class="flex-1 relative max-w-7xl">
      <%- include('../components/nav'); %>

      <section class="px-4 lg:px-10 py-4 max-w-5xl">
        <div class="my-20 max-w-xl flex flex-col gap-4">
          <h2 id="how_to" class="text-4xl">How to use it?</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolore, aperiam ullam deserunt accusantium voluptates. Totam rerum ullam doloribus excepturi facilis debitis non fuga maxime, dolor iusto nemo qui nobis iure animi, quam natus eum repudiandae nisi, cupiditate facere reprehenderit accusamus similique quod odit? Cupiditate libero illum laborum eos itaque?</p>
        </div>

        <h2 id="todos" class="text-4xl">Todos</h2>

        <section class="flex flex-col gap-20 py-8">
          <% routes.forEach(function(route){ %>
            <article>
              <div>
                <header>
                  <h3 id="<%= route.id %>" class="text-xl"><%= route.title %></h3>
                </header>
                <pre>
                  <code class="bg-secondary text-white block rounded-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                    <%= route.code %>
                  </code>
                </pre>
              </div>
              
              <button class="bg-accent text-sm py-2 px-4 text-primary font-semibold" data-show-response>Show response</button>
              
              <div class="hidden response">
                <pre>
                  <code class="bg-secondary text-white block rounded-lg text-sm lg:text-base max-w-[calc(100vw-3.25rem)] overflow-auto pr-4">
                    <%= route.responseExample %>
                  </code>
                </pre>
              </div>
            </article>
          <% }); %>
        </section>
      </section>

      <%- include('../components/footer'); %>
    </main>
  </section>

  <script>
    const buttons = document.querySelectorAll('[data-show-response]')

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        const article = button.closest("article")
        const responseSection = article.querySelector(".response")

        if (responseSection.classList.contains('hidden')) {
          responseSection.classList.remove('hidden')
          button.textContent = 'Hide response'
        } else {
          responseSection.classList.add('hidden')
          button.textContent = 'Show response'
        }
      })
    })
  </script>

<%- include('../layouts/footer'); %>